---

version: "v-{build}"

image: Visual Studio 2017

clone_folder: C:\projects\bootleg

environment:
  GRAALVM_HOME: C:\projects\bootleg\graalvm\graalvm-ce-java11-20.1.0
  BOOTLEG_VERSION: 0.1.8

cache:
  - C:\ProgramData\chocolatey\lib -> project.clj, appveyor.yml
  - '%USERPROFILE%\.m2 -> project.clj'
  - 'graalvm -> appveyor.yml'

branches:
  only:
    - master

build_script:
- cmd: >-
    call "C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\VC\Auxiliary\Build\vcvars64.bat"

    powershell -Command "if (Test-Path('graalvm')) { return } else { (New-Object Net.WebClient).DownloadFile('https://github.com/graalvm/graalvm-ce-builds/releases/download/vm-20.1.0/graalvm-ce-java11-windows-amd64-20.1.0.zip', 'graalvm.zip') }"

    powershell -Command "if (Test-Path('graalvm')) { return } else { Expand-Archive graalvm.zip graalvm }"

    powershell -Command "(New-Object Net.WebClient).DownloadFile('https://raw.githubusercontent.com/technomancy/leiningen/stable/bin/lein.bat', 'lein.bat')"

    call lein self-install

    call .appveyor/compile.bat

test: off

artifacts:
- path: bootleg-*-windows-amd64.zip
  name: bootleg
